body {
    margin: 0px;
    padding: 0px;
}

.header__container {
    width: 25%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    position: fixed;
    
    
}
.header__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
}
.header__search {
    font-size: 20px;
    color: white;
    text-align: left;
}
.header__list {
    font-size: 25px;
    color: white;
    text-align: right;
}
.header__img {
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 100px;
padding-bottom: 100px;;
}
.header__title {
    color: white;
    font-family: 'Philosopher', sans-serif;
font-size: 13px;
text-align: center;
padding: 0 20px 100px 20px;
}
.section {
    color: black;
    margin: 0;
}
.section {
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Положение от верхнего края */
    right: 0px; /* Положение от правого края */
    width: 75%;
    background-color: #e8e8e8;
    
    
}
/* MENU HEAD */
.section__header {
    border-bottom: 1px solid #e8e8e8;
    background-color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 2;

}
.section__menu {
    display: flex;
    justify-content: center;
    width: 80%;
    
    
}
.section__menu a:first-child {
    margin: 0;
} 
.section__menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight:bold;
    margin-left: 40px;
    
}
/* SECTION MAIN */
.section__container {
    margin: 0 auto;
    width: 96%;
    background-color: white;
    margin-bottom: 30px;
}
.section__main {
    margin: 0 auto;
    width: 84%;
    padding-top: 100px;
}
.section__container:nth-child(3) .section__h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;


}
.section__title {
    font-size: 22px;
}
.section__title span {
    color: gray;
    font-style:italic;
}
.section__title h1 {
    margin: 0px;
}
.section__info {
    display: flex;
}
.info__item {
    display: flex;
    align-items: center;
    color: gray;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    
}
.info__item:first-child {
    margin-left: 0px;
}
.info__item p {
    margin-left: 10px;
}
.section__item i {
 font-size: 10px;
 color: gray;
 margin-left: 2px;
 transform: translateY(-3px);
 
}
.section__h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 16px ;
}
.section__text img {
    float:right;
    margin-left: 15px;
}
.section__text p {
    font-size: 18px;
    margin-right: 15px ;
    color: gray;
    
}
.section__button {
    border-bottom: 1px solid rgb(158, 158, 158) ;
    padding-bottom: 2px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-left: 80%;
    margin-top: 20px;
    display: inline-block;
}
.section__button a {
    text-transform: uppercase;
    color: black;
    text-decoration: none; }

    /* IMAGE */
    .section__image {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .image-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }
    .image-wrapper:first-child img:first-child {
        width: 500px;
    }
    .image-wrapper:first-child img:last-child {
        width: 360px;
        margin-left: 4px;
    }
    /* .image-wrapper:nth-child(2) img:first-child {
        width: 540px;
        
    }
    .image-wrapper:nth-child(2) img:last-child {
        width: 320px;
        margin-left: 4px;
    } */
    .image-wrapper:last-child img:first-child {
        width: 400px;
        /* height: 400px; */
    }
    .image-wrapper:last-child img:last-child {
        width: 460px;
        margin-left: 4px;
        /* height: 400px; */
    }
    /* PORTFOLIO */
    .section__portfolio {
        padding-bottom: 200px;
    }
    .portfolio-title {
        text-align: center;
        position: relative;

    }
    .portfolio-title p {
        margin: 0;
        color: gray;
        font-size: 18px;
    }
    .portfolio-title h2 {
        margin: 0;
        text-transform: uppercase;
        margin-top: 5px;

    }
    .left-line {
        content: "";
        height: 1px;
        width: 140px;
        background: #333;
        display: block;
        z-index: 1;
        position: absolute;
        margin:auto;
        left:450px;
        top:10px;
        right:0;
        bottom:0;
    }
    .right-line {
        content: "";
        height: 1px;
        width: 140px;
        background: #333;
        display: block;
        z-index: 1;
        position: absolute;
        margin:auto;
        left:-450px;
        top:10px;
        right:0;
        bottom:0;
    }
    .portfolio-card {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
        
    }
    .portfolio-card img {
        width: 300px;
        height: 350px;
    }
    .portfolio-item {
        /* height: 600px; */
        background: #fff;
    }
    .portfolio-item p {
        text-transform: uppercase;
        color: gray;
        font-size: 14px;
        font-weight: 400;
        margin-left: 30px;
    }
    .portfolio-item h3 {
        margin-left: 30px;
        font-weight: 600;

    }

    /* SECTION CARD */
    .section__card {
        background: #fff;
        color:black;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .card-wrapper {
        display: flex;
        margin-left: 30px;
        justify-content: space-around;
        
    }
    .card-wrapper:last-child {
        margin-left: 40px;
    }
    .card__item {
        display: flex;
        align-items: center;
        width: 500px;
    }
    .item__image {
        font-size: 30px;
        padding: 30px 30px;
        margin: 0 0 75px 0;
    
    }
    .item__text h3 {
        text-transform: uppercase;
    }
    .item__text h3::after {
        content: "";
        width: 25px;
        height: 1px;
        background: black;
        opacity: .2;
        margin-top: 10px;
        display: block;
    }
    .item__text p {
        color: #848889;
        font-size: 18px;
    }
    .card__item:last-child .item__image {
        font-size: 20px;
    }
    .item__image img {
        width: 60px;
        height: 60px;
    }
    .card-wrapper:first-child .item__image:last-child {
        margin-bottom: 45px;
        margin-right: 15px;
    }
    .card-wrapper:last-child .card__item:last-child .item__text {
        margin-left: 20px;
    }
    .card-wrapper:last-child .card__item:last-child .item__image {
        margin-left: 20px;
    }
        
    /* FOOTER */
    .section__footer {
        background: #1e1e1e;
        color: #fff;
        padding-bottom: 50px;
    }
    .footer-container {
        width: 85%;
        margin: 0 auto;
    }
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .footer__featured h3 {
        text-transform: uppercase;
        padding-top: 20px;
        letter-spacing: 2px;
    }
    /* FOOTER-FEATURED-CARD */
    .featured__card {
        display: flex;
        
       
    }
    
    .featured__card img {
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }
    
    .featured__text {
        margin-left: 20px;
        padding-bottom: 40px;
    }
    .featured__text h4 {
        font-weight: 400;
        font-style: italic;
        margin-bottom: 15px;
    }
    .featured__text p {
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 12px;
    }
    .line-featured {
        content: "";
        width: 300px;
        height: 1px;
        background: gray;
        display: block;
        opacity: .5;

    }
    /* FOOTER-CATEGORIES */
    .categories__line {
        content: "";
        width: 250px;
        height: 1px;
        background: gray;
        display: block;
        opacity: .5;

    }
    
    .categories__text {
        margin-top: 50px;
    }
    .categories__text p {
        margin-top: 10px;
        font-size: 15px;
    }
    .categories__text span {
        color: gray;
    }
    /* FOOTER FACEBOOK */
    .footer__facebook {
        margin-top: 50px;
    }
    .footer__featured:last-child h3 {
        
        letter-spacing: 0;
    }

    .footer__line {
        content: "";
        width: 100%;
        height: 1px;
        background: gray;
        display: block;
        opacity: .5;
    }
    /* FOOTER END */
    .footer__end {
        text-align: center;
        color: #606060;
        font-size: 17px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .footer__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .footer__img img {
     width: 75px;
     
    }


@media only screen and (max-width: 1050px) {
    
    .section__button {
        font-size: 11px;
    }
    /* MENU */
    .section__menu {
        width: 100%;
        
    }
    .section__menu a:first-child {
        
        margin-left: 15px;
    }
    .section__header {
        /* height: 50px; */
        position: relative;
    }
    .section__menu {
        /* text-align: center; */
        font-size: 10px;
        display: block;
    }
    .section__item {
        margin-left: 20px;
    }
    
    /* MENU-END */

    
    /* IMAGE 1050with */
    .image-wrapper:first-child img:first-child {
        width: 400px;
    }
    .image-wrapper:first-child img:last-child {
        width: 260px;
        margin-left: 4px;
    }
    .image-wrapper:last-child img:first-child {
        width: 300px;
        
    }
    .image-wrapper:last-child img:last-child {
        width: 360px;
        margin-left: 4px;
        
    }
    /* IMAGE-END */
    .portfolio-card img {
        width: 250px;
        height: 300px;
    }
    .card-wrapper:last-child {
        margin-left: 10px;
    }
    .card-wrapper {
        margin-left: 0;
    }
    .footer__featured:last-child {
        display: none;
    }

}
@media only screen and (max-width: 900px) {
    .header__head {
        display: none;
    }
    .header__footer {
        display: none;
    }
    .header__container {
        position: static;
        width: 100%;
    
    }
    .header__img {
        margin-top: 0px;
        padding: 0px;
    }
    .section {
        position: static;
        width: 100%;
        font-size: 16px;
    }
    
    .section__button {
        font-size: 10px;
    }
    .section__menu {
        
        width: 100%;
    }
    .section__menu a:first-child {
        margin-left: 40px;
    }
    
}

     @media only screen and (max-width: 500px) {

     .section__img {
         display: none;
     }
     .section__image {
         display: none;
     }
     /* PORTFOLIO */
     .portfolio-card {
         flex-direction: column;
         align-items: center;
     }
     .portfolio-item {
         margin-top: 15px;
     }
     .right-line {
        left: -300px;
        width: 40px;
     }
     .left-line {
         width: 40px;
         left:300px;
     }
     /* CARD */
     .card-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .card__item {
        
        flex-direction: column;
        align-items: center;
        width: 100%; 
     }
     .item__text {
        text-align: center;
    }
    .item__image {
        margin:0;
    }
    .card-wrapper:last-child .card__item:last-child .item__text {
        margin: 0;
    }
    .item__text h3::after {
        margin: 0 auto;
    }
    /* MENU */
    .section__header {
        display: none;
    }
     /* FOOTER */
     .footer__featured-categories {
         display: none;
     }

     }

     @media only screen and (max-width: 400px) {

        .right-line {
            left: -250px;
            width: 20px;
         }
         .left-line {
             width: 20px;
             left:250px;
         }




    }


       